<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>流年记-ONESTARの客栈</title>
  <meta name=”Description” Content=”ONESTAR的个人博客，流年记页面，用于记录生活点滴过往”>
  <meta name=”Keywords” Content=”ONESTAR,流年记″>
  <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
  <link rel="stylesheet" href="../static/css/timeline.css" th:href="@{/css/timeline.css}">
  <link rel="stylesheet" href="../static/css/jazz-timeline.css" th:href="@{/css/jazz-timeline.css}">
</head>
<body>

  <!--导航-->
  <nav class="gird-header">
    <div class="ui m-container-mini-m">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui olive header item" style="font-family: STSong">ONESTAR</h2>
        <!--<div class="right m-item item m-mobile-hide">-->
          <a href="#" th:href="@{/}" class="m-item item m-mobile-hide "><i class="home icon"></i>首页</a>
          <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i class="clone outline icon"></i>分类</a>
          <a href="#" th:href="@{/archives}" class="active m-item item m-mobile-hide"><i class="coffee icon"></i>流年记</a>
          <a href="#" th:href="@{/music}" class="m-item item m-mobile-hide"><i class="music icon"></i>音乐盒</a>
          <a href="#" th:href="@{/message}" class="m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
          <a href="#" th:href="@{/friends}" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友人帐</a>
          <a href="#" th:href="@{/picture}" class="m-item item m-mobile-hide"><i class="image icon"></i>照片墙</a>
          <a href="#" th:href="@{/resources}" class="m-item item m-mobile-hide"><i class="graduation cap icon"></i>资源库</a>
          <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
        <!--</div>-->
        <div class="right m-item item m-mobile-hide">
          <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
            <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
              <input style="color: white" type="text" name="query" placeholder="Search...." th:value="${query}">
              <i onclick="document.forms['search'].submit()" class="search link icon"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>




  <!--顶部背景图片-->
  <div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/aboutbg.jpg" th:src="@{http://images.newstar.net.cn/img/liunian.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
      <div class="ui container" style="position: relative ;bottom: -540px;">
        <div class="m-font-size-title" align="center" style="font-family:'STXingkai'">流年记</div>
        <div class="m-font-size-text-init-title m-margin-top" align="center">对待生命，不妨大胆一点，因为我们终究要失去它</div>
      </div>
    </div>
  </div>

<!--  背景音乐播放-->
  <audio autoplay="autoplay" controls="controls" loop="loop" preload="auto" style="display: none"
         src="../static/music/yaoyuandeni.mp3" th:src="@{/music/yaoyuandeni.mp3}">
  </audio>

<!--  流年记录-->
  <div class="jazz-timeline-wrapper">
    <div class="jazz-timeline multiline-timeline thin-timeline">

      <div id="broadcast" class="timeline-post turqoise-post turqoise-trail" th:each="memory : ${memorys}">
        <div class="timeline-icon icon-dot-full-white">
          <div class="timeline-bar"></div>
        </div>
        <div class="timeline-content" >
          <span style="color: #dddddd">ONESTAR ✍️</span>  <span class="" style="color: #dddddd" th:text="${#dates.format(memory.createTime,'yyyy-MM-dd HH:mm')}">2020年07月12日10:48:17 </span>
          <div class="content-details">
            <p th:text="${memory.memory}">国庆和中秋刚好在同一天</p>
            <img  src="https://note.youdao.com/yws/api/personal/file/1DEBA60653854130B107CB49E3D3AD83?method=download&shareKey=3ace447cd59e0d0500d9000e82a8ae40" th:src="@{${memory.pictureAddress}}">

          </div>
        </div><!-- timeline content -->
      </div><!-- .timeline-post -->

    </div><!-- .timeline -->
  </div><!-- .jazz-timeline-wrapper -->



  <!--置顶图标-->
  <div id="toolbar" class="m-padded-tb-large m-fixed m-right-bottom">
    <a href="#" class="ui center aligned basic segment icon"><i class="ui medium orange chevron up icon"></i> </a>
  </div>

  <!--底部栏-->
  <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="four wide column">
          <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >联系我</div>
          <!--<div id="newblog-container">-->
          <!--<div class="ui inverted link list" th:fragment="newblogList">-->
          <!--<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-text-thin" th:each="blog : ${newblogs}" th:text="${blog.title}">最新文章</a>-->
          <!--</div>-->
          <!--</div>-->
          <div class="ui inverted link list">
            <div href="#" class="m-text-thin">Email：onestarlr@hotmail.com</div>
            <div href="#" class="m-text-thin">QQ：316392836</div>
          </div>
        </div>

        <div class="four wide column" >
          <div class="ui inverted link list">
            <div class="item">
              <!--微信二维码-->
              <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >关注公众号</div>
              <img src="../static/images/oneStar.jpg" th:src="@{/images/oneStar.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui inverted link list">
            <div class="item">
              <!--微信二维码-->
              <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >问题交流（QQ群）</div>
              <img src="../static/images/QQ-question.jpg" th:src="@{/images/QQ-question.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
            </div>
          </div>
        </div>
        <!--博客运行时间统计-->
        <div class="four wide column">
          <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息</div>
          <!--<p id="htmer_time" class="item m-text-thin"></p>-->
          <div id="blog-message">
            <div class="ui inverted link list" style="align-content: center;margin-top: 10px" th:fragment="blogMessage">
              <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogTotal}"> 14 </h2> 篇
              </div>
              <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogViewTotal}"> 14 </h2> 次
              </div>
              <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogCommentTotal}"> 14 </h2> 条
              </div>
              <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogMessageTotal}"> 14 </h2> 条
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
      <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>
    </div>
    </div>

  </footer>


  <script src="../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
  <script src="../static/lib/semantic/dist/semantic.min.js" th:src="@{/lib/semantic/dist/semantic.min.js}"></script>
  <script src="../static/lib/timeline/timeline.js" th:src="@{/lib/timeline/timeline.js}"></script>
  <script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>



  <script>
    var chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F'];

    function generateMixed(n) {
      var res = "";
      for (var i = 0; i < n; i++) {
        var id = Math.ceil(Math.random() * 16);
        res += chars[id];
      }
      return res;
    }

    var num = generateMixed(6);
    var p = document.getElementById('broadcast');
    p.style.color = "#" + num;

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

      // 运行时间统计
      function secondToDate(second) {
          if (!second) {
              return 0;
          }
          var time = new Array(0, 0, 0, 0, 0);
          if (second >= 365 * 24 * 3600) {
              time[0] = parseInt(second / (365 * 24 * 3600));
              second %= 365 * 24 * 3600;
          }
          if (second >= 24 * 3600) {
              time[1] = parseInt(second / (24 * 3600));
              second %= 24 * 3600;
          }
          if (second >= 3600) {
              time[2] = parseInt(second / 3600);
              second %= 3600;
          }
          if (second >= 60) {
              time[3] = parseInt(second / 60);
              second %= 60;
          }
          if (second > 0) {
              time[4] = second;
          }
          return time;
      }
      function setTime() {
          /*此处为网站的创建时间*/
          var create_time = Math.round(new Date(Date.UTC(2020, 01, 25, 15, 15, 15)).getTime() / 1000);
          var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
          currentTime = secondToDate((timestamp - create_time));
          currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
              + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
              + '秒';
          document.getElementById("htmer_time").innerHTML = currentTimeHtml;
      }
      setInterval(setTime, 1000);


  </script>
</body>
</html>
