<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONESTAR-音乐盒</title>

    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/music/css/zplayer.min.css" th:href="@{/lib/music/css/zplayer.min.css}" />
    <script type="text/javascript" src="../static/lib/music/js/zplayer.min.js" th:src="@{/lib/music/js/zplayer.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>



</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">ONESTAR</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
                <a href="#" target="_blank" th:href="@{/}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" target="_blank" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i class="clone outline icon"></i>分类</a>
                <a href="#" target="_blank" th:href="@{/archives}" class="m-item item m-mobile-hide"><i class="clock icon"></i>时间轴</a>
                <a href="#" th:href="@{/music}" class="active m-item item m-mobile-hide"><i class="music icon"></i>音乐盒</a>
                <a href="#" target="_blank" th:href="@{/message}" class="m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
                <a href="#" target="_blank" th:href="@{/friends}" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友人帐</a>
                <a href="#" target="_blank" th:href="@{/picture}" class="m-item item m-mobile-hide"><i class="image icon"></i>照片墙</a>
                <a href="#" target="_blank" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/music.jpg" th:src="@{/images/music.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">音乐盒</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">是啊，我也喜欢温柔，温暖，以及寻找着相互吸引的东西。努力活下去的心，很喜欢</div>
        </div>
    </div>
</div>

<div class="ui m-margin- m-opacity" align="center">
    <div class="ui container box-shadow-max">
        <div id="player2"></div>
    </div>
</div>
<script>
    var zp2 = new zplayer({
        element: document.getElementById("player2"),
        lrcStart: 1,/*是否开启歌词功能 ，默认false（为true时musics集合中需要传入lrc字段。）*/
        musics: [{
            title: "只要平凡",
            author: "张杰/张碧晨",
            url: "http://music.163.com/song/media/outer/url?id=574919767.mp3",
            pic: "http://p1.music.126.net/CjGoliP3xOB0gcCUaeTTBg==/109951163375727336.jpg?param=300x300",
            lrc: "[ti:只要平凡]\n" +
                "[ar:张杰/张碧晨]\n" +
                "[al:只要平凡]\n" +
                "[by:天龙888]\n" +
                "\n" +
                "[00:00.00]只要平凡 - 张杰/张碧晨\n" +
                "[00:01.00]\n" +
                "[00:02.54]电影《我不是药神》主题曲\n" +
                "[00:03.00]作词：格格\n" +
                "[00:03.50]作曲：黄超\n" +
                "[00:04.39]\n" +
                "[00:04.86]也许很远或是昨天\n" +
                "[00:08.56]在这里或在对岸\n" +
                "[00:12.48]长路辗转离合悲欢\n" +
                "[00:16.67]人聚又人散\n" +
                "[00:20.62]放过对错才知答案\n" +
                "[00:25.14]活着的勇敢\n" +
                "[00:28.75]没有神的光环\n" +
                "[00:33.19]你我生而平凡\n" +
                "[00:36.51]\n" +
                "[00:37.89]在心碎中认清遗憾\n" +
                "[00:41.55]生命漫长也短暂\n" +
                "[00:45.40]跳动心脏长出藤蔓\n" +
                "[00:49.60]愿为险而战\n" +
                "[00:53.49]跌入灰暗坠入深渊\n" +
                "[00:58.04]沾满泥土的脸\n" +
                "[01:01.88]没有神的光环\n" +
                "[01:06.22]握紧手中的平凡\n" +
                "[01:10.18]此心此生无憾\n" +
                "[01:14.66]生命的火已点燃\n" +
                "[01:17.66]\n" +
                "[01:19.10]有一天也许会走远\n" +
                "[01:24.77]也许还能再相见\n" +
                "[01:28.82]无论在人群在天边\n" +
                "[01:33.23]让我再看清你的脸\n" +
                "[01:37.00]任泪水铺满了双眼\n" +
                "[01:42.01]虽无言泪满面\n" +
                "[01:45.79]不要神的光环\n" +
                "[01:49.72]只要你的平凡\n" +
                "[01:53.40]\n" +
                "[01:54.79]音乐制作人：黄超\n" +
                "[01:55.41]编曲：黄超\n" +
                "[01:56.26]吉他：黄超\n" +
                "[01:57.01]单簧管：刘峤\n" +
                "[01:57.82]和音编写：黄超\n" +
                "[01:58.57]和音演唱：张杰 张碧晨\n" +
                "[01:59.31]人声录音师：汝文博 ,朱玉婷\n" +
                "[02:00.05]录音工作室：BIG.J Studio,香蕉计划录音棚\n" +
                "[02:00.71]混音师：周天澈\n" +
                "[02:01.36]母带工程师：周天澈\n" +
                "[02:02.05]母带工作室：TC Faders\n" +
                "[02:02.73]\n" +
                "[02:39.88]在心碎中认清遗憾\n" +
                "[02:43.57]生命漫长也短暂\n" +
                "[02:48.05]跳动心脏长出藤蔓\n" +
                "[02:51.85]愿为险而战\n" +
                "[02:56.06]跌入灰暗坠入深渊\n" +
                "[02:59.98]沾满泥土的脸\n" +
                "[03:03.86]没有神的光环\n" +
                "[03:08.28]握紧手中的平凡\n" +
                "[03:11.85]\n" +
                "[03:12.79]有一天也许会走远\n" +
                "[03:16.57]也许还能再相见\n" +
                "[03:20.54]无论在人群在天边\n" +
                "[03:24.84]让我再看清你的脸\n" +
                "[03:29.01]任泪水铺满了双眼\n" +
                "[03:33.22]虽无言泪满面\n" +
                "[03:37.01]不要神的光环\n" +
                "[03:41.59]只要你的平凡\n" +
                "[03:45.78]此心此生无憾\n" +
                "[03:49.64]生命的火已点燃\n" +
                "[03:52.88]\n" +
                "[03:53.55]lrc歌词编辑：天龙 QQ：26092798"
        },{
            title: "我从崖边跌落",
            author: "谢春花",
            url: "http://music.163.com/song/media/outer/url?id=415086030.mp3",
            pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 谢春花\n" +
                "[00:01.000] 作词 : 谢春花\n" +
                "[00:03.48]编曲：小皮\n" +
                "[00:04.04]我从崖边跌落\n" +
                "[00:06.49]落入星空辽阔\n" +
                "[00:08.96]银河不清不浊\n" +
                "[00:11.33]不知何以摆脱\n" +
                "[00:13.72]我从崖边跌落\n" +
                "[00:16.13]落入丛山万座\n" +
                "[00:18.54]呼声不烈不弱\n" +
                "[00:20.96]梦门何故紧锁\n" +
                "[00:26.78]谁引我入明火\n" +
                "[00:29.00]谁推我入筐箩\n" +
                "[00:31.44]谁割去我耳朵\n" +
                "[00:33.85]谁圈我以绳索\n" +
                "[00:36.17]谁耻笑我执着\n" +
                "[00:38.60]谁把岁月蹉跎\n" +
                "[00:41.00]谁碾碎了泡沫\n" +
                "[00:43.74]谁心已成魔\n" +
                "[00:49.76]撕破 我从崖边跌落\n" +
                "[00:59.26]为何 是梦还是解脱\n" +
                "[01:09.00]我从崖边跌落\n" +
                "[01:11.32]落入星空辽阔\n" +
                "[01:13.77]银河不清不浊\n" +
                "[01:16.13]不知何以摆脱\n" +
                "[01:18.55]我从崖边跌落\n" +
                "[01:20.97]落入丛山万座\n" +
                "[01:23.40]呼声不烈不弱\n" +
                "[01:25.74]梦门何故紧锁\n" +
                "[01:53.12]谁低头只沉默\n" +
                "[01:55.34]谁迟疑难定夺\n" +
                "[01:57.67]谁把美梦捕捉\n" +
                "[01:59.99]谁将画卷涂抹\n" +
                "[02:02.43]谁结束这折磨\n" +
                "[02:04.67]谁轻柔的抚摸\n" +
                "[02:07.08]谁纵身入湖泊\n" +
                "[02:09.56]换温暖魂魄\n" +
                "[02:15.44]我从崖边跌落\n" +
                "[02:17.79]落入星空辽阔\n" +
                "[02:20.15]银河不清不浊\n" +
                "[02:22.47]不知何以摆脱\n" +
                "[02:24.79]我从崖边跌落\n" +
                "[02:27.12]落入丛山万座\n" +
                "[02:29.47]呼声不烈不弱\n" +
                "[02:31.78]梦门何故\n" +
                "[02:36.57]我从崖边跌落\n" +
                "[02:38.81]落入星空辽阔\n" +
                "[02:41.11]银河不清不浊\n" +
                "[02:43.42]不知何以摆脱\n" +
                "[02:45.78]我从崖边跌落\n" +
                "[02:48.08]落入丛山万座\n" +
                "[02:50.47]呼声不烈不弱\n" +
                "[02:52.75]梦门何故紧锁\n" +
                "[03:01.22]谁引我入明火\n" +
                "[03:04.17]谁推我入筐箩\n" +
                "[03:07.09]谁把美梦捕捉\n" +
                "[03:10.20]谁心已成魔\n" +
                "[03:18.80]"
        },{
            title: "十点半的地铁",
            author: "李健",
            url: "http://music.163.com/song/media/outer/url?id=466333788.mp3",
            pic: "http://p2.music.126.net/64oU_90n8lR7pEJ_dExIPw==/109951163903238311.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 刘锦泽\n" +
                "[00:01.000] 作词 : 于歌\n" +
                "[00:05.00]编曲：刘卓\n" +
                "[00:06.00]Program：刘卓\n" +
                "[00:06.60]竖琴吉他：向嵬\n" +
                "[00:07.15]钢琴：刘卓\n" +
                "[00:08.63]\n" +
                "[00:51.55]十点半的地铁\n" +
                "[00:54.41]终于每个人都有了座位\n" +
                "[00:57.73]温热的风\n" +
                "[00:59.52]终于能轻轻地静静地吹\n" +
                "[01:03.31]\n" +
                "[01:05.12]身边的姑娘 胖胖的她\n" +
                "[01:09.84]重重地 靠着我睡\n" +
                "[01:13.03]我没有推 我不忍心推\n" +
                "[01:16.87]她看起来 好累\n" +
                "[01:19.50]\n" +
                "[01:20.86]矮下了身子 向后仰\n" +
                "[01:25.39]我懒散地 伸长了腿\n" +
                "[01:28.28]\n" +
                "[01:29.17]对面的 大叔\n" +
                "[01:30.96]在鼾声之中 张大了嘴\n" +
                "[01:34.54]\n" +
                "[01:36.22]旁边的阿姨 左摇右晃\n" +
                "[01:40.65]她睡得 找不到北\n" +
                "[01:43.84]\n" +
                "[01:44.54]身边的 妹妹 和朋友谈谁\n" +
                "[01:48.25]是是非非\n" +
                "[01:50.55]\n" +
                "[01:51.97]我也 疲倦了\n" +
                "[01:54.50]\n" +
                "[01:56.01]这是我唯一 不失眠的地方\n" +
                "[01:59.35]\n" +
                "[02:00.54]悲伤的 难过的\n" +
                "[02:03.48]\n" +
                "[02:04.05]在这里 我没有力气去想\n" +
                "[02:07.36]\n" +
                "[02:08.24]城市的夜 在头上 沉默经过\n" +
                "[02:12.80]它的心上\n" +
                "[02:14.62]尽管它 千疮百孔\n" +
                "[02:17.71]仍在夜里 笑得冷艳漂亮\n" +
                "[02:22.47]\n" +
                "[02:24.10]十点半的 地铁\n" +
                "[02:26.69]\n" +
                "[02:27.37]终于每个人 都有了座位\n" +
                "[02:30.24]\n" +
                "[02:30.77]温热的 风\n" +
                "[02:32.07]\n" +
                "[02:32.63]终于能 轻轻地静静地吹\n" +
                "[02:36.50]\n" +
                "[02:38.50]对面的阿姨 醒了又睡\n" +
                "[02:42.07]\n" +
                "[02:42.61]她没什么 可依偎\n" +
                "[02:45.61]\n" +
                "[02:46.49]身边的 妹妹\n" +
                "[02:48.41]不知道为谁 流着眼泪\n" +
                "[02:52.09]\n" +
                "[03:24.97]我也 疲倦了\n" +
                "[03:27.15]\n" +
                "[03:28.62]这是我唯一 不失眠的地方\n" +
                "[03:32.27]\n" +
                "[03:33.04]悲伤的 难过的\n" +
                "[03:36.86]在这里 我没有力气去想\n" +
                "[03:40.20]\n" +
                "[03:41.14]城市的夜 在头上\n" +
                "[03:44.57]沉默经过 它的心上\n" +
                "[03:47.33]\n" +
                "[03:47.96]尽管它 千疮百孔\n" +
                "[03:50.65]仍在夜里 笑得冷艳漂亮\n" +
                "[03:54.88]\n" +
                "[03:55.96]我也 疲倦了\n" +
                "[03:58.34]\n" +
                "[03:59.85]这是我唯一不失眠的地方\n" +
                "[04:03.18]\n" +
                "[04:04.36]沉重的 烫手的\n" +
                "[04:07.88]在这里 都可以暂时放放\n" +
                "[04:11.14]\n" +
                "[04:11.87]等到了站 下了车\n" +
                "[04:15.40]余下的路 还有好长\n" +
                "[04:22.37]\n" +
                "[04:24.91]不去想 管它呢\n" +
                "[04:28.82]\n" +
                "[04:29.39]让风 吹在我脸上\n" +
                "[04:34.77]\n" +
                "[04:36.78]十点半的地铁\n" +
                "[04:38.73]\n" +
                "[04:39.36]终于每个人 都有了座位\n" +
                "[04:42.62]温柔的风\n" +
                "[04:44.69]轻轻地轻轻地吹"
        },{
            title: "天亮以前说再见",
            author: "曲肖冰",
            url: "http://music.163.com/song/media/outer/url?id=1336789644.mp3",
            pic: "http://p2.music.126.net/_P71psYXWlTrEWEuyyN7QA==/109951163770392080.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 康梓峰\n" +
                "[00:00.699] 作词 : 康梓峰\n" +
                "[00:02.97]编曲：王柏鸿\n" +
                "[00:27.60]水花只能开在雨天\n" +
                "[00:33.44]烟花要绽放在黑夜\n" +
                "[00:39.51]雪花多舍不得冬天\n" +
                "[00:45.54]像我舍不得和说你再见\n" +
                "[00:51.40]谎言并不代表欺骗\n" +
                "[00:57.46]诺言也不一定兑现\n" +
                "[01:03.43]誓言就都留给时间\n" +
                "[01:09.49]就请把从前留在今天\n" +
                "[01:16.31]天亮以前说再见\n" +
                "[01:19.14]笑着泪流满面\n" +
                "[01:22.17]去迎接\n" +
                "[01:23.24]应该你的\n" +
                "[01:25.21]更好的明天\n" +
                "[01:28.19]昙花若只一现\n" +
                "[01:31.13]更要开的耀眼\n" +
                "[01:34.21]别回头去拥有\n" +
                "[01:36.50]属于你更好的世界\n" +
                "[01:40.24]天亮以前说再见\n" +
                "[01:43.12]让我留在今天\n" +
                "[01:46.31]去保护\n" +
                "[01:47.22]我和你的\n" +
                "[01:49.19]最好的夏天\n" +
                "[01:52.08]情丝若水三千\n" +
                "[01:55.17]只取一瓢眷恋\n" +
                "[01:57.75]当你来过的纪念\n" +
                "[02:03.57]水花只能开在雨天\n" +
                "[02:09.49]烟花要绽放在黑夜\n" +
                "[02:15.40]雪花多舍不得冬天\n" +
                "[02:21.37]像我舍不得和说你再见\n" +
                "[02:27.39]谎言并不代表欺骗\n" +
                "[02:33.46]诺言也不一定兑现\n" +
                "[02:39.43]誓言就都留给时间\n" +
                "[02:45.35]就请把从前留在今天\n" +
                "[02:52.29]天亮以前说再见\n" +
                "[02:55.22]笑着泪流满面\n" +
                "[02:58.31]去迎接\n" +
                "[02:59.27]应该你的\n" +
                "[03:01.24]更好的明天\n" +
                "[03:04.28]昙花若只一现\n" +
                "[03:07.16]更要开的耀眼\n" +
                "[03:09.84]别回头去拥有\n" +
                "[03:12.48]属于你更好的世界\n" +
                "[03:16.07]天亮以前说再见\n" +
                "[03:19.26]让我留在今天\n" +
                "[03:22.39]去保护\n" +
                "[03:23.36]我和你的\n" +
                "[03:25.22]最好的夏天\n" +
                "[03:28.26]情丝若水三千\n" +
                "[03:31.24]只取一瓢眷恋\n" +
                "[03:33.92]当你来过的纪念\n" +
                "[03:55.33]录音：浔浔\n" +
                "[03:56.68]缩混：张栩赫（Ethan）\n" +
                "[03:57.99]和声：Kent王健\n" +
                "[03:58.29]和声编写：Kent王健\n" +
                "[03:59.59]制作人：浔浔\n" +
                "[04:00.85]配唱制作人：浔浔\n" +
                "[04:01.16]录音室：1803 Studio\n" +
                "[04:02.52]混音室：Hot Music Studio\n" +
                "[04:03.87]制作团队：KingStar音乐社团/柏鸿工作室\n" +
                "[04:04.17]企划营销：梦童娱乐\n" +
                "[04:05.64]监制：三千\n" +
                "[04:06.25]ＯＰ：千和世纪\n"
        },{
            title: "起风了",
            author: "买辣椒也用券",
            url: "http://music.163.com/song/media/outer/url?id=1330348068.mp3",
            pic: "http://p1.music.126.net/diGAyEmpymX8G7JcnElncQ==/109951163699673355.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 高橋優\n" +
                "[00:00.464] 作词 : 米果\n" +
                "[00:01.394] 编曲：池窪浩一 (Kouichi Ikekubo)\n" +
                "[00:03.742]\n" +
                "[00:26.137] 这一路上走走停停\n" +
                "[00:29.192] 顺着少年漂流的痕迹\n" +
                "[00:32.281] 迈出车站的前一刻\n" +
                "[00:35.395] 竟有些犹豫\n" +
                "[00:38.394] 不禁笑这近乡情怯\n" +
                "[00:41.791] 仍无可避免\n" +
                "[00:44.419] 而长野的天\n" +
                "[00:45.734] 依旧那么暖\n" +
                "[00:47.284] 风吹起了从前\n" +
                "[00:50.053] 从前初识这世间\n" +
                "[00:52.785] 万般流连\n" +
                "[00:54.562] 看着天边似在眼前\n" +
                "[00:57.698] 也甘愿赴汤蹈火去走它一遍\n" +
                "[01:02.570] 如今走过这世间\n" +
                "[01:05.605] 万般流连\n" +
                "[01:07.236] 翻过岁月不同侧脸\n" +
                "[01:10.466] 措不及防闯入你的笑颜\n" +
                "[01:16.113] 我曾难自拔于世界之大\n" +
                "[01:20.207] 也沉溺于其中梦话\n" +
                "[01:23.441] 不得真假 不做挣扎 不惧笑话\n" +
                "[01:29.101] 我曾将青春翻涌成她\n" +
                "[01:32.530] 也曾指尖弹出盛夏\n" +
                "[01:35.881] 心之所动 且就随缘去吧\n" +
                "[01:42.357] 逆着光行走 任风吹雨打\n" +
                "[01:58.630] 短短的路走走停停\n" +
                "[02:01.771] 也有了几分的距离\n" +
                "[02:04.841] 不知抚摸的是故事 还是段心情\n" +
                "[02:11.318] 也许期待的不过是 与时间为敌\n" +
                "[02:17.098] 再次看到你\n" +
                "[02:18.594] 微凉晨光里\n" +
                "[02:20.161] 笑得很甜蜜\n" +
                "[02:22.723] 从前初识这世间\n" +
                "[02:25.542] 万般流连\n" +
                "[02:27.270] 看着天边似在眼前\n" +
                "[02:30.220] 也甘愿赴汤蹈火去走它一遍\n" +
                "[02:35.313] 如今走过这世间\n" +
                "[02:38.262] 万般流连\n" +
                "[02:39.991] 翻过岁月不同侧脸\n" +
                "[02:42.962] 措不及防闯入你的笑颜\n" +
                "[02:48.870] 我曾难自拔于世界之大\n" +
                "[02:52.942] 也沉溺于其中梦话\n" +
                "[02:56.145] 不得真假 不做挣扎 不惧笑话\n" +
                "[03:01.742] 我曾将青春翻涌成她\n" +
                "[03:05.839] 也曾指尖弹出盛夏\n" +
                "[03:08.669] 心之所动 且就随缘去吧\n" +
                "[03:40.529] 晚风吹起你鬓间的白发\n" +
                "[03:44.178] 抚平回忆留下的疤\n" +
                "[03:47.391] 你的眼中 明暗交杂 一笑生花\n" +
                "[03:52.900] 暮色遮住你蹒跚的步伐\n" +
                "[03:56.932] 走进床头藏起的画\n" +
                "[04:00.146] 画中的你 低着头说话\n" +
                "[04:05.680] 我仍感叹于世界之大\n" +
                "[04:09.391] 也沉醉于儿时情话\n" +
                "[04:12.756] 不剩真假 不做挣扎 无谓笑话\n" +
                "[04:18.529] 我终将青春还给了她\n" +
                "[04:22.281] 连同指尖弹出的盛夏\n" +
                "[04:25.609] 心之所动 就随风去了\n" +
                "[04:31.204] 以爱之名 你还愿意吗\n" +
                "[04:39.145]\n" +
                "[04:39.982] 吉他： 池窪浩一 (Kouichi Ikekubo)\n" +
                "[04:40.994] 贝斯：小島剛広 (Takehiro Kojima)\n" +
                "[04:41.661] 鼓：吉田佳史 (TRICERATOPS) (Yoshifumi Yoshida(TRICERATOPS))\n" +
                "[04:42.463] 键盘：平畑徹也 (Tetsuya Hirahata)\n" +
                "[04:43.341] 小提琴：須磨和声 (Wasei Suma)\n" +
                "[04:44.211] 弦乐：須磨和声、池窪浩一\n" +
                "[04:45.258]\n" +
                "[04:46.105] 录音工程：玉乃井光紀 (Mitsunori Tamanoi) - studioFine\n" +
                "[04:46.760] 发行公司：Negia Entertainment Inc.\n" +
                "[04:47.476] 特别支持：中村光雄(Mitsuo Nakamura)\n" +
                "[04:51.019]"
        },{
            title: "遥远的你",
            author: "不靠谱组合",
            url: "http://music.163.com/song/media/outer/url?id=1333192765.mp3",
            pic: "http://p1.music.126.net/j_MOk-u1iEtYWHs-QId41Q==/109951163703802494.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 王明明\n" +
                "[00:00.015] 作词 : 王明明/李亚然\n" +
                "[00:00.46]编曲：明锐\n" +
                "[00:02.08]七月的风 八月的雨\n" +
                "[00:05.76]卑微的我喜欢遥远的你\n" +
                "[00:10.37]你的过去 无法参与\n" +
                "[00:16.29]但我还是 喜欢你\n" +
                "[00:23.36]\n" +
                "[00:31.31]眼角闪起的泪光\n" +
                "[00:34.96]无边无际地游荡\n" +
                "[00:39.02]眉下的一记荒唐\n" +
                "[00:43.18]庸俗地写在脸上\n" +
                "[00:47.31]犹如一缕阳光\n" +
                "[00:51.27]但却觉得感伤\n" +
                "[00:55.77]记忆挥散不去\n" +
                "[00:59.61]却藏进了 我的诗句\n" +
                "[01:07.09]七月的风 八月的雨\n" +
                "[01:10.99]卑微的我喜欢遥远的你\n" +
                "[01:15.09]你还未来 怎敢老去\n" +
                "[01:19.29]未来的我和你奉陪到底\n" +
                "[01:23.37]你若同意 我一定去\n" +
                "[01:27.46]可你并不在意我的出席\n" +
                "[01:31.44]你的过去 无法参与\n" +
                "[01:36.50]但我还是 喜欢你\n" +
                "[01:43.88]\n" +
                "[02:04.96]我有一把钥匙\n" +
                "[02:08.83]能解开你的故事\n" +
                "[02:12.79]单纯的像个孩子\n" +
                "[02:16.73]偏藏进了 我的诗句\n" +
                "[02:24.46]七月的风 八月的雨\n" +
                "[02:28.29]卑微的我喜欢遥远的你\n" +
                "[02:32.48]你还未来 怎敢老去\n" +
                "[02:36.61]未来的我和你奉陪到底\n" +
                "[02:40.59]你若同意 我一定去\n" +
                "[02:44.65]可你并不在意我的出席\n" +
                "[02:48.77]你的过去 无法参与\n" +
                "[02:53.59]但我还是 喜欢你\n" +
                "[03:01.87]但我还是 喜欢你\n" +
                "[03:11.973]\n" +
                "[03:15.673] 制作人：明锐\n" +
                "[03:16.374] 混音：廖国钺\n" +
                "[03:17.057] 吉他：齐成刚\n" +
                "[03:17.723] 和声编写：廖国钺\n" +
                "[03:18.407] 和声：不靠谱组合\n" +
                "[03:19.140] 监制：张雯杰\n" +
                "[03:19.862] 制作公司：Hikoon Music\n" +
                "[03:20.573] 发行公司：鲸鱼向海（北京）文化有限公司\n"

        },{
            title: "尘土",
            author: "安朕宇",
            url: "http://music.163.com/song/media/outer/url?id=865021614.mp3",
            pic: "http://p1.music.126.net/ssXglUifx_l0Ncv6dORQWQ==/109951163402130495.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 安朕宇\n" +
                "[00:01.000] 作词 : 安朕宇\n" +
                "[00:17.88]我从未想过我会高傲的存在\n" +
                "[00:21.16]只想放低姿态 欣赏你 每天的自拍\n" +
                "[00:25.88]灯光下你不能忽视 我的占据\n" +
                "[00:29.97]每次散场 我也只能悄悄的离开\n" +
                "[00:33.99]你伸出双手每次我都看得见\n" +
                "[00:37.50]我过去热情围绕你却 视而不见\n" +
                "[00:41.94]到最后我才明白只是 透明存在\n" +
                "[00:45.67]证明着陪伴才是我最深情告白\n" +
                "[00:51.46]即使一粒尘土 我也要漫天飞舞\n" +
                "[00:55.44]从我的角度审视你的世界的孤独\n" +
                "[00:59.27]任凭 疾风暴雨 再三凌辱\n" +
                "[01:03.85]围绕着你 是来到这个人间的意义\n" +
                "[01:07.66]即使一粒尘土 我也要漫天飞舞\n" +
                "[01:10.94]用我的生命证明其实你并不孤独\n" +
                "[01:15.35]任凭 疾风暴雨 再三凌辱\n" +
                "[01:19.84]用我的方式 证明着自己的幸福\n" +
                "[01:39.93]我从未想过我会高傲的存在\n" +
                "[01:43.29]只想放低姿态 欣赏你 每天的自拍\n" +
                "[01:47.57]灯光下你不能忽视 我的占据\n" +
                "[01:51.54]每次散场 我也只能悄悄的离开\n" +
                "[01:55.71]你伸出双手每次我都看得见\n" +
                "[01:59.48]我过去热情围绕你却 视而不见\n" +
                "[02:03.42]到最后我才明白只是 透明存在\n" +
                "[02:07.34]证明着陪伴才是我最深情告白\n" +
                "[02:13.00]即使一粒尘土 我也要漫天飞舞\n" +
                "[02:17.03]从我的角度审视你的世界的孤独\n" +
                "[02:21.01]任凭 疾风暴雨 再三凌辱\n" +
                "[02:25.44]围绕着你 是来到 这个人间的意义\n" +
                "[02:29.07]即使一粒尘土 我也要漫天飞舞\n" +
                "[02:32.69]用我的生命证明其实你并不孤独\n" +
                "[02:36.91]任凭 疾风暴雨 再三凌辱\n" +
                "[02:41.45]用我的方式 证明着自己的幸福\n" +
                "[03:01.31]我从未想过我会高傲的离开\n" +
                "[03:04.93]直到朋友圈看到你们幸福的节拍\n" +
                "[03:09.55]有天他会牵你的手 步入教堂\n" +
                "[03:13.58]那时我会带微笑 祝福着 被风 吹散\n" +
                "[03:22.12]不孤独\n" +
                "[03:25.45]不清楚\n" +
                "[03:29.58]不会哭 哦\n"
        },{
            title: "夜来故事多",
            author: "RAiNBOW计划",
            url: "http://music.163.com/song/media/outer/url?id=35625826.mp3",
            pic: "http://p1.music.126.net/W_srVOtG_DKS1-txPLqNQQ==/3273246117001205.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 林展秋\n" +
                "[00:01.000] 作词 : 林展秋\n" +
                "[00:06.31]演唱：陈樱梓\n" +
                "[00:07.41]编曲：雷雨心/朱沁怡\n" +
                "[00:08.35]制作人：林展秋\n" +
                "[00:09.60]钢琴：雷雨心\n" +
                "[00:11.04]录音师：周龙\n" +
                "[00:12.33]录音室：第三弦音乐工作室\n" +
                "[00:13.32]混音师：周龙\n" +
                "[00:14.51]混音室：起点音乐Origin Music\n" +
                "[00:15.38]歌词制作：王智杰\n" +
                "[00:16.23]\n" +
                "[00:24.35]这时代脚步仓促 无论贫富 都在赶路\n" +
                "[00:31.35]有时候分不清楚 阑珊的是意兴 还是灯火\n" +
                "[00:42.35]一扇门窗一把锁 一人一本故事书\n" +
                "[00:48.48]你有多久用苦笑代替了哭\n" +
                "[00:53.69]人前的欢颜 有多少发自肺腑\n" +
                "[01:00.35]是数不胜数 还是屈指可数\n" +
                "[01:04.92]\n" +
                "[01:05.32]超载的是行囊 负荷的脑容量\n" +
                "[01:11.07]蒙尘的肉身和欲望 多不堪\n" +
                "[01:16.85]一刻不晴朗 便对自己为难\n" +
                "[01:22.04]要到几时方觉察 阴影底下 才得乘凉\n" +
                "[01:28.26]\n" +
                "[01:28.94]洗掉今日的污染 留给明天再弄脏\n" +
                "[01:34.60]多少次在花洒下才卸了妆\n" +
                "[01:39.94]明明门窗灯都关上 缄口的心却突然\n" +
                "[01:46.57]在此刻长出了嘴巴\n" +
                "[01:50.75]\n" +
                "[01:51.57]除非你不曾一个人 在夜深\n" +
                "[01:57.16]否则你怎么可能 逃过心事的追问\n" +
                "[02:03.01]委屈了自己躯壳 又成全了什么\n" +
                "[02:08.82]夜来故事多的 让人慌神\n" +
                "[02:14.54]\n" +
                "[02:14.92]除非你不曾一个人 在夜深\n" +
                "[02:20.29]否则你怎么可能 不偶遇你的灵魂\n" +
                "[02:26.42]往事莫追 它只是一路跟\n" +
                "[02:32.00]动词千万种 而今才懂得\n" +
                "[02:37.99]浮现和回响 最是折磨人\n" +
                "[02:43.40]\n" +
                "[03:06.80]谁眼波如文火 煎沸暧昧的错\n" +
                "[03:12.61]蒸发出空虚和寂寞 求寄托\n" +
                "[03:18.14]都想要浅尝 又为何虎咽\n" +
                "[03:24.02]速食的甜言 是比长情 不需要咀嚼\n" +
                "[03:29.70]\n" +
                "[03:29.88]所谓聚散的滋味 也有了几番体会\n" +
                "[03:35.69]只要拿记忆 不在夜深里翻箱倒柜\n" +
                "[03:41.41]又何妨把自己麻醉 翻江倒海的胃\n" +
                "[03:47.13]说得好既往不咎 无关勇敢和惭愧\n" +
                "[03:53.07]但到要原谅自己 又有几个真的无畏\n" +
                "[04:02.72]\n" +
                "[04:03.44]除非你不曾一个人 在夜深\n" +
                "[04:10.19]否则你怎么可能 逃过心事的追问\n" +
                "[04:16.07]委屈了自己躯壳 又成全了什么\n" +
                "[04:21.97]夜来故事多的 叫人慌神\n" +
                "[04:27.63]\n" +
                "[04:27.84]除非你不曾一个人 在夜深\n" +
                "[04:33.41]否则你怎么可能 不偶遇你的灵魂\n" +
                "[04:39.93]往事莫追 它只是一路跟\n" +
                "[04:45.28]动词千万种 而今才懂得\n" +
                "[04:51.05]浮现和回响 最是折磨人\n" +
                "[04:56.89]夜来故事怎叫人 不心疼\n" +
                "[05:02.83]\n"
        },{
            title: "夜空中最亮的星",
            author: "逃跑计划",
            url: "http://music.163.com/song/media/outer/url?id=25706282.mp3",
            pic: "http://p1.music.126.net/d541jx7SqoDzVkenhmtg6g==/19193074974743620.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 逃跑计划\n" +
                "[00:00.226] 作词 : 逃跑计划\n" +
                "[00:00.680]编曲：Giles Tully / 李赤\n" +
                "[00:01.680]制作人：Giles Tully / 李赤\n" +
                "[00:02.680]缩混：Giles Tully / Patrick Weyer-Brown / 姜北生\n" +
                "[00:03.680]Engineered by Hyperbolic Productions (Patrick Weyer-Brown & Giles Tully)\n" +
                "[00:04.680]Acoustic Guitar & Drum recorded by Hyperbolic Productions (Patrick Weyer-Brown) at YUM music\n" +
                "[00:05.680]Guitar Bass Vocal recorded by Hyperbolic Productions (Patrick Weyer-Brown & Giles Tully)\n" +
                "[00:06.680]其他录音：时俊峰 福达录音棚 / 姜北生 环球唱片录音棚 / 方岩 Funky Studio\n" +
                "[00:07.680]人声和声：逃跑计划\n" +
                "[00:08.680]女声和声：孙亮亮\n" +
                "[00:09.680]弦乐制作：朱金泰\n" +
                "[00:10.680]弦乐编写：朱金泰 / 陈迪\n" +
                "[00:11.680]弦乐：中国国家交响乐团\n" +
                "[00:12.680]首席小提琴：董智敏\n" +
                "[00:13.680]录音棚：有沐录音棚 YUM Studio\n" +
                "[00:14.680]弦乐录音：杨杰、郑昊杰\n" +
                "[00:15.680]制作助理：哈斯瑚必来\n" +
                "[00:16.680]母带处理：Patrick Weyer-Brown (FR) 法国SAE Paris 录音棚\n" +
                "[00:17.680]夜空中最亮的星 能否听清\n" +
                "[00:26.230] 那仰望的人 心底的孤独和叹息\n" +
                "[00:35.650] 夜空中最亮的星 能否记起\n" +
                "[00:44.210] 曾与我同行 消失在风里的身影\n" +
                "[00:52.540] 我祈祷拥有一颗透明的心灵\n" +
                "[00:57.640]和会流泪的眼睛\n" +
                "[01:01.880] 给我再去相信的勇气\n" +
                "[01:06.400]越过谎言去拥抱你\n" +
                "[01:10.420] 每当我找不到存在的意义\n" +
                "[01:15.300] 每当我迷失在黑夜里\n" +
                "[01:20.160] 夜空中最亮的星\n" +
                "[01:24.270] 请指引我靠近你\n" +
                "[01:37.880]夜空中最亮的星 是否知道\n" +
                "[01:46.450] 曾与我同行的身影 如今在哪里\n" +
                "[01:55.450] 夜空中最亮的星 是否在意\n" +
                "[02:03.950] 是等太阳升起 还是意外先来临\n" +
                "[02:12.370] 我宁愿所有痛苦都留在心里\n" +
                "[02:17.690] 也不愿忘记你的眼睛\n" +
                "[02:22.270] 给我再去相信的勇气\n" +
                "[02:26.400] 越过谎言去拥抱你\n" +
                "[02:30.350] 每当我找不到存在的意义\n" +
                "[02:35.270] 每当我迷失在黑夜里\n" +
                "[02:40.720] 夜空中最亮的星 请照亮我前行\n" +
                "[03:05.420]我祈祷拥有一颗透明的心灵\n" +
                "[03:10.870]和会流泪的眼睛\n" +
                "[03:15.930] 给我再去相信的勇气\n" +
                "[03:19.660]越过谎言去拥抱你\n" +
                "[03:23.600] 每当我找不到存在的意义\n" +
                "[03:28.760] 每当我迷失在黑夜里\n" +
                "[03:33.540] 夜空中最亮的星\n" +
                "[03:37.590]请照亮我前行\n" +
                "[03:50.890]夜空中最亮的星 能否听清\n" +
                "[03:59.810]那仰望的人 心底的孤独和叹息"
        },{
            title: "理想不大",
            author: "RAiNBOW计划",
            url: "http://music.163.com/song/media/outer/url?id=465921645.mp3",
            pic: "http://p1.music.126.net/yRgTfVXGbey72ou_49CtVA==/18931391207076094.jpg?param=300y300",
            lrc: "[00:00.000] 作曲 : 林展秋\n" +
                "[00:01.000] 作词 : 林展秋\n" +
                "[00:04.89]演唱：朱冠学\n" +
                "[00:06.30]编曲：林少聪\n" +
                "[00:07.49]制作人：林展秋\n" +
                "[00:08.76]录音师：周龙\n" +
                "[00:10.09]录音室：2496 Top Music\n" +
                "[00:11.37]混音师：周龙\n" +
                "[00:12.43]混音室：起点音乐 Origin Music\n" +
                "[00:13.01]歌词制作：王智杰\n" +
                "[00:13.56]\n" +
                "[00:14.88]你是否也厌倦了 日复一日的庸常？\n" +
                "[00:22.45]你是否也害怕了 陷入琐事的循环？\n" +
                "[00:30.20]我知道你也想 挣脱无谓的捆绑\n" +
                "[00:36.77]却越用力 越不得动弹\n" +
                "[00:43.22]\n" +
                "[00:44.54]你是否也着急了 潮水一般的流向？\n" +
                "[00:51.87]你是否也惊慌了 瞬息万变的气象？\n" +
                "[00:59.53]我知道你会怪 这个时代太嘈杂\n" +
                "[01:06.93]没看见你 内心的不安\n" +
                "[01:12.62]\n" +
                "[01:13.35]理想不大 何时沦为 几尺床板上的辗转？\n" +
                "[01:21.16]身躯虽小 衣也蔽体 奈何薄薄的盔甲\n" +
                "[01:28.31]你多渴望 有人穿过 你肉身应接不暇\n" +
                "[01:35.82]看见你 浮沉的 灵魂 正努力 上岸\n" +
                "[01:43.77]\n" +
                "[02:04.12]你是否也忘记了 自己生猛的模样？\n" +
                "[02:11.12]你是否也调低了 原本呼喊的音量？\n" +
                "[02:18.85]我知道你不想 奔波声势的排场\n" +
                "[02:26.17]分不清 是合群 是识相\n" +
                "[02:32.00]\n" +
                "[02:32.63]理想不大 何时沦为 镜中人浮肿的面庞？\n" +
                "[02:40.37]身躯虽小 衣裳易短 奈何冷暖都漫长\n" +
                "[02:47.85]你多渴望 有人穿过 五花八门的斑斓\n" +
                "[02:55.16]看见你 那扇窗 几片叶子 待 浇灌\n" +
                "[03:03.43]\n" +
                "[03:03.92]如果我说 「生命 不止前进倒退还有上下」\n" +
                "[03:11.76]你可懂我 希望你也 向左向右 看？\n" +
                "[03:21.07]\n" +
                "[03:24.43]\n"
        },{
            title: "世间美好与你环环相扣",
            author: "柏松",
            url: "http://music.163.com/song/media/outer/url?id=1363948882.mp3",
            pic: "http://p2.music.126.net/DK1_4sP_339o5rowMdPXdw==/109951164071024476.jpg?param=300x300",
            lrc: "[00:00.000] 作曲 : 柏松\n" +
                "[00:01.000] 作词 : 尹初七\n" +
                "[00:15.854]编曲：彭圣杰\n" +
                "[00:28.354]偏偏秉烛夜 游\n" +
                "[00:31.354]午夜星辰 似奔走之友\n" +
                "[00:34.854]爱你每个结痂伤口\n" +
                "[00:37.854]酿成的陈年烈酒\n" +
                "[00:41.104]\n" +
                "[00:42.104]入喉尚算可口\n" +
                "[00:45.103]怎么泪水 还偶尔失守\n" +
                "[00:48.853]邀你细看心中缺口\n" +
                "[00:51.353]裂缝中留存 温柔\n" +
                "[00:56.104]\n" +
                "[00:57.853]此时已莺飞草长 爱的人正在路上\n" +
                "[01:02.103]我知他风雨兼程 途经日暮不赏\n" +
                "[01:05.853]穿越人海 只为与你相拥\n" +
                "[01:11.853]此刻已皓月当空 爱的人手捧星光\n" +
                "[01:15.603]我知他乘风破浪 去了黑暗一趟\n" +
                "[01:19.353]感同身受 给你救赎热 望\n" +
                "[01:25.602]\n" +
                "[01:26.353]知道你不能 还要你感受\n" +
                "[01:30.102]让星光加了一点彩虹\n" +
                "[01:33.102]让樱花偷偷 吻你额头\n" +
                "[01:36.853]让世间美好 与你环环相扣\n" +
                "[01:41.603]\n" +
                "[01:42.352]此时已莺飞草长 爱的人正在路上\n" +
                "[01:46.602]我知他风雨兼程 途经日暮不赏\n" +
                "[01:50.602]穿越人海 只为与你相拥\n" +
                "[01:56.102]此刻已皓月当空 爱的人手捧星光\n" +
                "[02:00.102]我知他乘风破浪 去了黑暗一趟\n" +
                "[02:04.352]感同身受 给你救赎热 望\n" +
                "[02:09.352]\n" +
                "[02:09.852]此时已莺飞草长 爱的人正在路上\n" +
                "[02:13.851]我知他风雨兼程 途经日暮不赏\n" +
                "[02:18.102]穿越人海 只为与你相拥\n" +
                "[02:23.602]此刻已皓月当空 爱的人手捧星光\n" +
                "[02:27.851]我知他乘风破浪 去了黑暗一趟\n" +
                "[02:31.852]感同身受 给你救赎热 望\n" +
                "[02:37.352]\n" +
                "[02:38.601]知道你不能 还要你感受\n" +
                "[02:41.601]让星光加了一点彩虹\n" +
                "[02:45.101]当樱花开的纷纷扬扬\n" +
                "[02:48.602]当世间美好 与你环环相扣\n" +
                "[02:58.601]特别鸣谢：槿葵，我们的海报制作妹妹。\n" +
                "[03:05.854]原唱：柏松\n" +
                "[03:06.355]吉他：柏松\n" +
                "[03:07.354]和声：柏松\n" +
                "[03:08.104]录音：柏松\n" +
                "[03:09.104]混音：张强\n"
        },{
            title: "云烟成雨",
            author: "房东的猫",
            url: "http://music.163.com/song/media/outer/url?id=513360721.mp3",
            pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
            lrc: "[00:00] 作曲 : 少年佩\n[00:01] 作词 : 墨鱼丝\n[00:11]制作人：黎偌天\n[00:12]编曲：黎偌天\n[00:13]监制：李纤橙\n[00:14]\n[00:18]你的晚安 是下意识的恻隐\n[00:24]我留至夜深 治疗失眠梦呓\n[00:30]那封手写信 留在行李箱底\n[00:36]来不及 赋予它旅途的意义\n[00:43]若一切 都已云烟成雨\n[00:49]我能否 变成淤泥\n[00:52]再一次 沾染你\n[00:55]若生命 如过场电影\n[01:01]Oh让我再一次 甜梦里惊醒\n[01:13]我多想再见你\n[01:15]哪怕匆匆一眼就别离\n[01:19]路灯下昏黄的剪影\n[01:22]越走越漫长的林径\n[01:25]我多想再见你\n[01:28]至少玩笑话还能说起\n[01:32]街巷初次落叶的秋分\n[01:35]渐行渐远去的我们\n[01:53]若一切 都已云烟成雨\n[01:59]我能否 变成淤泥\n[02:01]再一次 沾染你\n[02:05]若生命 如过场电影\n[02:10]Oh让我再一次 甜梦里惊醒\n[02:19]我多想再见你\n[02:21]哪怕匆匆一眼就别离\n[02:26]路灯下昏黄的剪影\n[02:28]越走越漫长的林径\n[02:32]我多想再见你\n[02:34]至少玩笑话还能说起\n[02:38]街巷初次落叶的秋分\n[02:41]渐行渐远去的我们\n[02:49]站台 汽笛响起\n[02:52]想念是你的声音\n[02:55]我们提着过去 走入人群\n[03:02]寻找着一个位置 安放自己\n[03:13]我多想再见你\n[03:15]哪怕匆匆一眼就别离\n[03:19]路灯下昏黄的剪影\n[03:22]越走越漫长的林径\n[03:25]我多想再见你\n[03:28]至少玩笑话还能说起\n[03:31]街巷初次落叶的秋分\n[03:35]渐行渐远去的我们\n[03:41]\n[03:43]主唱：红鼻子小黑\n[03:44]制作人：黎偌天\n[03:46]监制：李纤橙\n"
        }]
    })
    zp2.init();

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>
